/*=====Exotic Animal css=======*/

/*.container img {
	-moz-box-shadow: 	1px 1px 5px #66676c, -1px -1px 5px #66676c; 
	-o-box-shadow:		1px 1px 5px #66676c, -1px -1px 5px #66676c; 
	-webkit-box-shadow: 1px 1px 5px #66676c, -1px -1px 5px #66676c;
	box-shadow: 		1px 1px 5px #66676c, -1px -1px 5px #66676c; 	
			}*/
.ah {
	
	margin-left: auto;
	margin-right: auto;

}
	
		
.at a{
	color: green;
	font-size: 1.2em;
	}		
		
.container img  {
	margin-left:auto;
	margin-right:auto;
	margin-bottom:10px;
	}	

#meet {
	text-align: center;
	}

/*========Header============*/

	
h1 {
	text-indent: -990000px;
	}
	
h1 img {
	float: left;
	padding-left: 02.008032128% /*20px*/;
	
	}

header {
	width: 100%;
	height: 150px;
	background-color: #aaacb1;
	border-bottom: solid 2px #133062;
	}

	


#nav_bar_mobile {
	display: none;
	}


.menu ul li{
	float:left;
	list-style:none;
	font-family: 'Caesar Dressing', cursive;
	position:relative;
	font-size: 1em;
	}

.menu li a {
	display:block;
	padding-left: 10px;
	padding-right: 10px;
	line-height: 2.5em;
	color:#133062;
	text-decoration: none;
	}

.menu li a:visted {
	color: #133062;
	}

.menu li a:hover {
	color: #794a28;
	text-decoration: underline;
	}

.menu li a:active; {
	color: #f7e71e;
	}




ul.submenu {
	margin-top: -7px;
	position:absolute;
	left:-5000em;
	width: 130px;

	}

.topmenu li:hover ul{
	left:-30px;
	}  

ul.submenu li {
	float:none;
	font-size: 0.9em;
	background-color: #aaacb1;
		}
	
	

/*=======meet animals=========*/

#meet {
	text-align: center;
	}

.facts ul li {
	list-style-type: circle;
	}

.facts {
  	display:block;
  	width: 60.240963855% /*600px*/;
	margin:0 auto; 
	}


/*=======footer============*/

footer {
	width: 100%;
	background-color: #15346b;
	padding-top: 30px;
	font-size:  0.8em;
	color: #aaacb1;	
	border-top: solid 2px #aaacb1;
	}



#facebook {
	padding-left: 50px;
	}

#youtube {
	margin-top: 10px;
	padding-left: 50px;
	}

footer a {
	color:#aaacb1;
	text-decoration: none;
	}


footer a:visted {
	color: #aaacb1;
	}

footer a:hover {
	color: #15346b;
	background-color: #aaacb1; 
	text-decoration: underline;
	}

footer a:active; {
	color: #f7e71e;
	}

footer p {
	padding-left: 02.008032128% /*20px*/;
	color: #aaabb1;
	}

#footer_contact {
	clear:both;
	text-align: center;
	font-size: .7em;
	padding-top: 10px;
	padding-bottom: 10px;
	}



#leslie p{
	padding-bottom: 20px;
	}


/*=========all content==============*/




.container {
	max-width: 100%;
	background-color: rgba(170, 172, 178, 0.8);	
	}


	
body {
	font-family: 'Marcellus', serif;
	background-color: #a08462;
	background-image: url("../images/fur.png");
	background-position:0 0;
	}


p {
	color: #794a28;
	font-size: 1em;
	line-height: 1.2em;
	margin-left: auto;
	margin-right: auto;	
	text-align: center;
	clear: left; 
	}

.largep {
	font-size: 1.3em;
	line-height: 1.4em
	}

.container li {
	list-style-type: none;
	
	}

.container a {
	text-align: center;
	color:#794a28;
	text-decoration: none;
	}


.container a:visted {
	color: #794a28;
	}

.container a:hover {
	color: #15346b; 
	}

.container a:active; {
	color: #f7e71e;
	}




h2, h3, h4 {
	padding-top:10px;
	font-family: 'Caesar Dressing', cursive;
	color: #133062;
	text-align: center;
	}
	
h2 {
	font-size: 1.8em;
	}
	
 h3, h4 {
	font-size: 1.4em;
	}

/*=============meet the animals=============*/



.meet_pic ul li {
	margin-left: 5.150426266%; /* 48.7333333333px;*/
	float: left; 
	}


.meet_pic ul {
	width: 100%;
	margin: 0 auto; 
	overflow: hidden;
	}




/*============gallery===============*/


.main_gallery ul {
	width: 95%; /*946.2px; */
	margin: 0 auto; 
	padding: 10px;
	overflow: hidden;
	}
	
	


/*===========figure out=============*/



.fb-like-box { 
	display: block; 
	margin: 0 auto; 
	}

.youtube_player { 
	display: block;
	min-width: 560px;
	min-height: 315px;
	max-width: 90%;
	margin: 0 auto; 
	}




/* =============================================================================
   Less than 768px
   ========================================================================== */
   
@media only screen and (max-width: 767px) {

header {
	height: 340px;
	}


.meet_pic ul li {
	margin-left: 2.575213133%;
	margin-right: 2.575213133%;
}



#logo_2 {	
	margin-left: auto;
	margin-right: auto;	
	}
	
	
/*==========Nav Bar============*/
#nav_bar_mobile {
	display: block;
	}	

#nav_bar_mobile a {
	font-size: 1.3em;
	line-height: 1.5em;
	color:#133062;
	text-decoration: none;
	}

#nav_bar_mobile li {
	list-style:none;
	font-family: 'Caesar Dressing', cursive;
	text-align: center;
}


#nav_bar_mobile li a:visted {
	color: #133062;
	}

#nav_bar_mobile li a:hover {
	color: #794a28;
	text-decoration: underline;
	}

#nav_bar_mobile li a:active; {
	color: #f7e71e;
	}


#nav_bar {
	display: none;
	}

/*===========end nav===========*/

.youtube_player {	
	min-width: 373.333333333px;
	min-height: 210px;
	}


.pcenter{
		margin-left: auto;
		margin-right: auto;
		padding-left: 10px; 
	}

header img {
	float: none;
	padding-left: 02.008032128% /*20px*/;
	margin-right: 02.008032128% /*20px*/;
	margin-top: -80px;
	}
	

.pcenter{
		margin-left: auto;
		margin-right: auto;
		padding-left: 30px; 
		padding-right: 30px; 
	}

/*====== nav ======*/


#leslie {
	display: none;
	}

footer section {
	display: none;
	}

#footer_contact {
	font-size: .8em;
	padding-bottom: 25px;
	}

.green ul {
	width: 90%; 
	margin: 0 auto; 
	padding-top: 10px;
	}
		
.green ul li {
	margin-left: auto;
	margin-right: auto;
	padding-left: 20%;
	padding-right: 20%;
	clear: left; 
	}

}



/*=================================
	less then 480
===================================*/

@media only screen and (max-width: 479px) {


header {
	height: 356px;
	}



.meet_pic ul li {
	margin-left:0 2.575213133%;
	margin-right:0 2.575213133%;
}


#logo_2 {
	margin-left: auto;
	margin-right: auto;	
	}

#nav_bar_mobile {
	display: block;
	}
	
#nav_bar_mobile a {
	text-align:center;
	color: #794a28;
	font-size: 1.4em;
	}	


#nav_bar_mobile ul {
	list-style:none;
	font-family: 'Caesar Dressing', cursive;
	}

#nav_bar_mobile li {
		text-align: center;
	}

#nav_bar_mobile li a {
	line-height: 2em;
	color:#133062;
	text-decoration: none;
	}

#nav_bar_mobile li a:visted {
	color: #133062;
	}

#nav_bar_mobile li a:hover {
	color: #794a28;
	text-decoration: underline;
	}

#nav_bar_mobile li a:active; {
	color: #f7e71e;
	}


#nav_bar {
	display: none;
	}


.container img {
	clear: left; 
	width: 90%;
	margin-left: auto; 
	margin-right: auto;
	}




/*====== nav ======*/





#leslie {
	display: none;
	}

footer section {
	display: none;
	}

#footer_contact {
	font-size: .8em;
	padding-bottom: 25px;
	}

}

